/* GENERALS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;


}

.col-12{
    margin: 12px 0;
}
/*END GENERALS */

/*utilitys */
.red{
    background-color: red;
}
.blue{
    background-color: aqua;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: yellowgreen;
}

.height100{
    height: 100%;
}
 
.border-d{
    border: 2px solid black;
}
/* end utilitys */



/* HEADER  */
header a{
    text-transform: uppercase;
}


nav{
    height: 100px;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 1000;
    background-color: #2c3e50;
}

header h1,
header h5{
    line-height: 100px;
}

header h5{
    padding: 0 10px;
}



.jumbotron{
    margin-top: 100px;
    background-color: #1abc9c;
    color: white;
    text-transform: uppercase;
    padding: 50px 0;
}

.jumbotron img{
    width: 400px;
}

.burger-menu a{
    width: 50px;
    height: 50px;
    background-color: #1abc9c;
    border-radius: 10px;
}

/*END HEADER  */


/* MAIN  */


/* portfolio  */
section{
    padding: 50px 0;
}
.portfolio .portfolio-images .row .col-12{
    margin: 12px 0;
}
.portfolio .portfolio-images .row .col-12 img{
    width: 100%;
    border-radius: 20px;
}

/* about  */
.about{
    background-color: #1abc9c;
    color: white;
}


.text{
    padding: 20px ;
}


.download-button {
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    padding: 8px;
}

.download-button a{
    color: white;
}



/* contact me  */
input, textarea{
    border:none;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    margin-bottom: 10px;
}
::placeholder{
    color: black;
    opacity: 1;

}

button{
    background-color: #1abc9c;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 70px;
    color: white;
}

/*END MAIN  */


/* FOOTER  */
.contacts{
    background-color: #3a546d;
    color: white;
}

.contacts h3{
    text-transform: uppercase;
}
    
.contacts h3,
.contacts p,
.txtcenter,
.copyrights p{
    text-align: center;
}




.copyrights{
    background-color: #2c3e50;
    color: white;
}
/*END FOOTER  */